/* Home Page StyleSheet */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --normal-gray: gray;
    --normal-white: #fff;
    --normal-bg: #007E85;
    --dark-gray: #333;
    --normal-green: #6EAB36;
    --xxs: 0.75em;
    --xs: 0.9em;
    --circle-radius: 70px;
    --card-radius: 10px;
    --card-padding: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Ajoute du style basique */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #ECECEC;
    color: #333;
}

h1 {
    color: #333;
}

/* General */

.logo h3 {
    font-size: 1.5em;
    line-height: 30px;
    color: var(--normal-bg);
}

.logo h3 span {
    color: var(--normal-green);
}

a {
    position: relative;
    text-decoration: none;
    color: var(--dark-gray);
    transition: 0.5s ease;
    padding-bottom: 5px;
    font-weight: 500;
}

/*button, .btnLogin {
    padding: 5px 10px;
}*/

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid;
    gap: 20px;
    padding: 20px;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

header a:hover {
    text-decoration: underline;
    color: var(--normal-bg);
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

nav ul .home {
    color: var(--normal-bg);
    text-decoration: underline;
}

nav #connection {
    display: flex;
    align-items: center;
    gap: 10px;
}

#connection .btnLogin {
    text-align: center;
    background: var(--normal-bg);
    color: var(--normal-white);
    padding: 5px 20px;
    border-radius: 5px;
    text-decoration: none;
}

#connection .btnLogin:hover {
    transform: scale(1.05);
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero Section */

#hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    width: 800px;
    margin: 20px 0;
    padding: 40px;
    border: 1px solid;
}

#hero .content {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.9em;
}

#hero .content h2 {
    margin-bottom: 10px;
    font-weight: 400;
}

#hero .content .primary {
    color: var(--normal-bg);
}

#hero .content .green {
    color: var(--normal-green);
}

#hero .content p {
    margin-bottom: 10px;
}

#hero .content button {
    text-align: center;
    background: var(--normal-bg);
    color: var(--normal-white);
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
}

#hero .content button:hover {
    transform: scale(1.05);
}

#hero .imgFrame {
    position: relative;
    width: 300px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero .imgFrame img {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#hero .imgFrame img:nth-child(0) {
    z-index: 3;
}

#hero .imgFrame img:nth-child(1) {
    z-index: 2;
}

/* Find A Doctor Section */

#findADoctor {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Our Result In Number Section*/

#ourResultNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#ourResultNumber h2 {
    color: var(--normal-bg);
}

#ourResultNumber p {
    font-size: 0.9em;
}

#ourResultNumber .resultContainer {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    padding: 10px;
    /*gap: 100px;*/
    border: 1px solid;
}

.ourResultNumberContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbol {
    opacity: 0.5;
}

/* Reason To Chose Us Section */

#reasonToChoseUs {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    width: 800px;
    margin: 20px 0;
    padding: 40px;
    border: 1px solid;
}

#reasonToChoseUs h2 {
    color: var(--normal-bg);
}

#reasonToChoseUs .content {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.9em;
}

#reasonToChoseUs .btns {
    margin-top: 20px;
}

#reasonToChoseUs button {
    text-align: center;
    background: var(--normal-bg);
    color: var(--normal-white);
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    transition: 0.5s ease;
}

#reasonToChoseUs button:hover {
    color: var(--normal-bg);
    background: var(--normal-white);
    border: 1px solid var(--normal-bg);
}

#reasonToChoseUs .imgFrame {
    position: relative;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#reasonToChoseUs .imgFrame img {
    width: 100%;
}

/* Services we provided Section */

#servicesWeProvide {
    border: 1px solid;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9em;
}

#servicesWeProvide h2 {
    color: var(--normal-bg);
}

#servicesWeProvide .contentPara {
    text-align: center;
}

/*#servicesWeProvide :nth-child(2) {
    text-align: center;
}*/

.grid {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#servicesWeProvide .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--normal-white);
    border-radius: var(--card-radius);
    padding: var(--card-padding);
}

#servicesWeProvide .card .imgFrame {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-radius);
}

#servicesWeProvide .card .imgFrame img {
    width: 100%;
}


#servicesWeProvide .card .cardInnerContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#servicesWeProvide .card .cardInnerContent h3, .cardInnerContent a {
    color: var(--normal-bg);
}

/* Meet Our Team Members Section */

#meetOurTeamMembers {
    border: 1px solid;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

#meetOurTeamMembers .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    border: 1px solid;
    padding: var(--card-padding);
    border-radius: var(--card-radius);
}

#meetOurTeamMembers .card .imgFrame {
    width: var(--circle-radius);
    height: var(--circle-radius);
    background: #000;
    border-radius: 50%;
}

/* Testimonial */

#testimonial {
    border: 1px solid;
    width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#testimonial .subtitle {
    text-align: center;
}

#testimonial .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid;
    padding: var(--card-padding);
    border-radius: var(--card-radius);
}

#testimonial .card .imgFrame {
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
}

/* Trusted Section */

#trustedSection {
    margin: 20px 0;
    width: 800px;
    padding: 20px;
    text-align: center;
    border: 1px solid;
}

#trustedSection .collaborators {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 25px;
}

/* News Letter Section */

#newsLetter {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid;
    border-radius: var(--card-radius);
}

/* Footer */

footer {
    width: 100%;
    margin-top: 20px;
    padding: 50px 250px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
}

footer .allRight p {
    font-size: var(--xs);
    color: var(--normal-gray);
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    gap: 30px;
}

footer .section h3 {
    font-size: var(--xs);
    line-height: 30px;
}

footer .section ul {
    font-size: var(--xxs);
    list-style-type: none;
}

footer .section ul li {
    line-height: 16px;
}


/*

@media (max-width: 890px) {
  .logo {
  right: -10px;
  bottom: -20px;
}
  
 .logo img {
  width: 80px;
  }
}

@media (max-width: 1050px) {
  .swiper {
    width: 350px;
    height: 450px;
  }
}

@media (max-width: 930px) {
  section {
    grid-template-columns: 100%;
    grid-template-rows: 55% 40%;
    grid-template-areas:
      "slider"
      "content";
    place-items: center;
    gap: 64px;
    padding: 60px;
  }

  .swiper {
    grid-area: slider;
  }

  .content {
    grid-area: content;
    text-align: center;
  }

  .content h1 {
    margin-bottom: 20px;
  }
}

@media (max-width: 470px) {
  section {
    padding: 40px 40px 60px;
  }

  .swiper {
    width: 300px;
    height: 400px;
  }
}

*/