/* Home Page StyleSheet */

:root {
    --normal-gray: gray;
    --xxs: 0.75em;
    --xs: 0.9em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Ajoute du style basique */
body {
    font-family: Arial, sans-serif;
    /*margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    color: #333;
}

/* General */

.logo h3 {
    line-height: 30px;
}

button {
    padding: 5px 10px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

header ul li {
    padding: 0 10px;
}

a {
    text-decoration: none;
}

header .connection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Hero Section */

#hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
    width: 100%;
    margin: 20px 0;
    padding: 40px;
    border: 1px solid;
}

#hero .imgFrame {
    background: #000;
}

/* Find A Doctor Section */

#findADoctor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
}

footer .allRight p {
    font-size: var(--xs);
    color: var(--normal-gray);
}

footer .links {
    display: flex;
    align-items: center;
    justify-content: space-between;   
    gap: 30px;
}

footer .section h3 {
    font-size: var(--xs);
    line-height: 30px;
}

footer .section ul {
    font-size: var(--xxs);
    list-style-type: none;
}

footer .section ul li {
    line-height: 16px;
}