/* Autorazation Page Stylesheet */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --normal-gray: gray;
    --normal-bg: #007E85;  /*#f0f0f0*/
    --normal-fg: #fff;
    --dark-gray: #333;
    --xxs: 0.75em;
    --xs: 0.9em;
    --circle-radius: 70px;
    --card-radius: 10px;
    --card-padding: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Ajoute du style basique */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--normal-bg);
    color: var(--normal-fg);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

h2 {
    color: var(--normal-fg);
}

#container {
    border: 1px dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

#container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#container form .field {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form .field label {
    font-size: 1.2em;
}

input {
    padding: 10px;
    outline: none;
    border: 1px solid var(--normal-bg);
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--normal-bg);
    font-size: 0.8em;
    color: var(--normal-bg);
}

button[type="submit"]:hover {
    filter: brightness(0.9);
}

.tips {
    border: 1px dashed;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.loginHere {
    color: #ffffffb9;
}